body{
    font-family: Roboto;
    font-size: 1.4rem;
}

section{
    max-width: 22rem;
}

article{
    border: 1px solid lightgrey;
    padding: 0.8rem;
}

p{
    line-height: 2rem;
}

.image-container{
    background-color: #8c969e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 12rem;
    width: 92.2%;
    text-align:center; 
    display:table;
}

h4{
    line-height: 0.1rem;
}

h3{
    color: white;
    display:table-cell; 
    vertical-align:middle
}

.link-container{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.link-container a{
    margin-right: 2rem;
}