body {
  height: 100%;
  margin: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  gap: 2rem;
  background-color: aquamarine;
  justify-content: space-between;
  height: 100vh;
align-items: center;
}

section{
  padding:10%;
}

.main_link ul{
  margin: 0 auto;
}

.main_link li{
  list-style-type: none;
  margin: 1rem 0 0 -2.5rem;
}

.main_link a {
  color: #2b2b2b;
}

.main_link a:hover {
  color: #2b2bb2;
}

.main_link img{
  width: 7rem;
  height: 5rem;
}

.main_avatar{
justify-self: flex-end;
}

.main_username img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.main_username{
  justify-self: flex-end;
}