body {
    height: 90vh;
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 40% 20% 40%);
    grid-template-rows: auto;
    grid-template-areas:
        ". . ."
        ". calcolator ."
        ". . .";
    height: 90vh;
}

.main_calcolator {
    grid-area: calcolator;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% auto auto auto auto auto;
    border: 0.2rem solid transparent;
    border-radius: 0.7rem;
}

.main_calcolator_display {
    justify-self: stretch;
    grid-column: span 4;
    background-color: #424c52;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: white;
    text-align-last: right;
    padding-right: 1rem;
    padding-top: 0.2rem;
}


.main_calcolator_simbol {
    border-top: 0.1rem solid #899dae;
    border-right: 0.1rem solid #899dae;
    background-color: #eff2f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;

}

.main_calcolator_simbol_border {
    border-top: 0.1rem solid #899dae;
    border-right: 0.1rem solid #899dae;
    border-bottom-left-radius: 0.4rem;
    background-color: #eff2f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_calcolator_equal {
    border-bottom-right-radius: 0.4rem;
    background-color: #eff2f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4;
    grid-row: 3 / span 4;
    background-color: #f77077;
}