.container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin: 3rem auto 3rem auto;
    flex-wrap: wrap;
    width: auto;
}

.container-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 20rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    cursor: pointer;
}

.container-card:hover{
    opacity: 0.5;
}

.container .link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Kanit, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
}