div h2, div h1 {
  text-align: center;
  color: green;
  text-decoration: 0.1rem underline blue;
}

div {
  margin: 1rem;
  border: 0.1rem solid red;
}
div h2 {
  padding: 1rem;
  border: 0.1rem solid red;
  width: 20%;
  text-decoration: none;
}
div section:last-child article {
  width: 100%;
  font-size: 1.5rem;
  color: green;
  border-color: blue;
}
div section:nth-child(even) {
  justify-content: space-around;
}
div section:nth-child(even) .fs-1rem {
  font-size: 1rem;
}
div section:nth-child(even) .fs-2rem {
  font-size: 2rem;
}
div section:nth-child(even) .fs-3rem {
  font-size: 3rem;
}
div section:nth-child(even) div:nth-child(1) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #0d0d0d;
  background: #f2f2f2;
}
div section:nth-child(even) div:nth-child(2) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #1a1a1a;
  background: #e6e6e6;
}
div section:nth-child(even) div:nth-child(3) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #262626;
  background: #d9d9d9;
}
div section:nth-child(even) div:nth-child(4) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #333333;
  background: #cccccc;
}
div section:nth-child(even) div:nth-child(5) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #404040;
  background: #bfbfbf;
}
div section:nth-child(even) div:nth-child(6) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #4d4d4d;
  background: #b3b3b3;
}
div section:nth-child(even) div:nth-child(7) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #595959;
  background: #a6a6a6;
}
div section:nth-child(even) div:nth-child(8) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #666666;
  background: #999999;
}
div section:nth-child(even) div:nth-child(9) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #737373;
  background: #8c8c8c;
}
div section:nth-child(even) div:nth-child(10) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: red;
  background-color: blue;
}
div section:nth-child(even) div:nth-child(11) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #8c8c8c;
  background: #737373;
}
div section:nth-child(even) div:nth-child(12) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #999999;
  background: #666666;
}
div section:nth-child(even) div:nth-child(13) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #a6a6a6;
  background: #595959;
}
div section:nth-child(even) div:nth-child(14) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #b3b3b3;
  background: #4d4d4d;
}
div section:nth-child(even) div:nth-child(15) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #bfbfbf;
  background: #404040;
}
div section:nth-child(even) div:nth-child(16) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #cccccc;
  background: #333333;
}
div section:nth-child(even) div:nth-child(17) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #d9d9d9;
  background: #262626;
}
div section:nth-child(even) div:nth-child(18) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #e6e6e6;
  background: #1a1a1a;
}
div section:nth-child(even) div:nth-child(19) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f2f2f2;
  background: #0d0d0d;
}
div section:nth-child(even) div:nth-child(20) {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  background: black;
}

section {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  justify-content: center;
}
section article {
  width: 24.9%;
  height: 8rem;
  align-items: center;
  border-left: 0.1rem solid green;
  border-top: 0.1rem solid green;
  border-bottom: 0.1rem solid green;
  font-size: 1rem;
}
section article:last-child {
  border-right: 0.1rem solid green;
}
section article p {
  padding: 1.5rem;
  text-align: center;
}
section article:nth-child(odd) {
  color: blue;
}
section article:nth-child(even) {
  color: red;
}

/*# sourceMappingURL=style.css.map */
