 body {
     width: 100%;
     margin: 0;
 }

 section {
     padding: 0;
     margin: 0;
 }

 main {
     display: grid;
     grid-template-columns: repeat(3, 2fr);
     grid-template-areas:
         "green green green"
         "yellow red blue"
         "orange orange blue";
    gap: 1.7rem;
    flex-wrap: wrap;
    height: 100vh;
 }

 .main-section-green {
     grid-area: green;
     padding: 2rem;
     height: 50%;

 }

 .main-section-yellow {
     grid-area: yellow;
     justify-self: center;
     padding: 2rem;
     width: 70%;
 }

 .main-section-red {
     grid-area: red;
     justify-self: center;
     padding: 2rem;
     width: 70%;
 }

 .main-section-blue {
     grid-area: blue;
     padding: 2rem;
 }

 .main-section-orange {
     grid-area: orange;
     height: 50%;
     padding: 2rem;
     align-self: flex-end;
 }

 .main-section-yellow-label, .main-section-red-label {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;

 }

 .main-section-yellow-label-item, .main-section-red-label-item {
     width: 4rem;
     height: 4rem;
     margin-top: 10px;

 }

 .main-section-yellow-title{
    margin: 1rem 0 0 1rem;
 }