body {
  div {
    margin: 1rem;
    border: 0.1rem solid red;
  }
  h1 {
    text-align: center;
    color: green;
    text-decoration: 1px underline blue;
  }
}

@mixin article-container($border-color, $font-color, $font-size){
    width: 24.9%;
    height: 8rem;
    align-items: center;
    border-left: 0.1rem solid $border-color;
    border-top: 0.1rem solid $border-color;
    border-bottom: 0.1rem solid $border-color;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0.5rem;
  justify-content: center;

  article {
    @include article-container(green, black, 1rem);
  }
  
  article:last-child {
    border-right: 0.1rem solid green;
  }

  article p {
    padding: 1.5rem;
    text-align: center;
  }
}

section article:nth-child(odd) {
  color: blue;
}

section article:nth-child(even) {
  color: red;
}

div section:nth-child(odd) {
    article{
        width: 100%;
        font-size: 24px;
        color: green;
        border-color: blue;
    }
}